<!DOCTYPE html>
<html>
  <head>
    <title>GoodReadsClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if current_user %>
    <%= current_user %>
    <%= current_user.username %>
    <%= current_user.email %>
    <script>
    window.currentUser = {
      'id': <%= current_user.id %>,
      'username': `<%= current_user.username %>`,
      'email': `<%= current_user.email %>`
    }
    console.log('Application')
    console.log(window.currentUser)
    </script>
    <% end %>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
