<!DOCTYPE html>
<html>
  <head>
    <title>TipTopTomes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if current_user %>
      <script type='text/javascript'>
        window.currentUser =
          <%= render('api/users/user.json.jbuilder', user:current_user).html_safe %>
      </script>
    <% end %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117680925-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117680925-1');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
